.overall {
	.meta {
		text-align: left;
		font-family: 'Lora', sans-serif;

		span {
			font-size: 14px;
			font-style: italic;
			font-weight: 700;
			color: #BDBDBD;
		}
	}
	
	.post-body {
		color: $black;
			a:hover, 
			a:focus,  
			a:active {
				border-bottom: none;
		}	
	}


}